

<%= form_with model: @flight, local: true do |f| %>

<ul class="form-style-1">
  <h2 class= "heading">Create a flight</h2>

    <li>

      <%= f.label :flightNumber %>
      <%= f.text_field :flightNumber %> <br>
    </li>
    <li>
      <%= f.label :origin %>
      <%= f.text_field :origin %> <br>

    </li>

    <%= f.label :destination %>
    <%= f.text_field :destination %><br>

    </li>
    <%= f.hidden_field :id, :value => @flight.id %>


    <br>
    <br>
    <%= f.submit "Create flight" %>

</ul>



<% end %>
