
<h2>Create a flight</h2>

<%= form_with model: @flight, local: true do |f| %>

<%= f.label :flightNumber %>
<%= f.text_field :flightNumber %> <br>

<%= f.label :origin %>
<%= f.text_field :origin %> <br>

<%= f.label :destination %>
<%= f.text_field :destination %> <br>

<%= f.submit %>

<% end %>
